*.pfx
*.suo
*.user
bin/
obj/
.vs/
/Msi
packages/
*.psess
*.pyc
/ExtLibs/Mavlink/mavlink
/LogAnalyzer/py2exe/
*.vspx
*.appx
*.zip
/Drivers/gencert.bat
/Drivers/makecert.exe
/Drivers/signing.url
/ExtLibs/Zeroconf
/ExtLibs/wasm/wwwroot/2018-09-09 18-15-17.txt
/ExtLibs/Test
/ExtLibs/AltitudeAngelWings/Keys.config
/Drivers/DriverCleanup.pdb
/Drivers/DriverCleanup.exe.config
/Drivers/DriverCleanup.exe
/objcore
*.diagsession
/ExtLibs/WindowsStore/BundleArtifacts
.idea*


# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
